.result-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0px 10px;
}

.search-bar-container {
    margin: 20px 30% 0 30%;
    width: 40%;
    height: 40px;

    border: .687px solid rgba(0, 0, 0, 0.50);
    border-radius: 10px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.result-h-w {
    margin: 30px 20px 0 20px;
}

.menu-deopdown-icon-w{
    transition-duration: 0.3s;
}

.filter-content{
    transition-duration: 0.3s;
    vertical-align: bottom;
}

.filter-top{
    background-color: #FFF;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
}

.filter-section{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.result-h {
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.result-container {
    margin-top: 20px;
}

.filter {
    display: flex;
    /* justify-content: center;  */
    align-items: center;
    height: 35px;
    transition: 0.3s;
}

.filter:hover{
    transform: scale(1.05);
}

.filter-h-w {
    margin: 0 10px 0 10px;
    padding: 5px 0 10px 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.20);
    margin-bottom: 10px;
}

.filter-h {
    color: var(--on-primary-secondary-bg-surface-high-importance, #2F3037);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    padding: 0 !important;
}

.filter p {
    padding-left: 8px;
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}

.star-w {
    margin-left: 5px;
    cursor: pointer;
}

/* Results section */
.results {
    /* display: flex;
    justify-items: center;
    align-items: center;
    gap: 30px; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2em;
    margin-bottom: 30px;
}

.result-w {
    transition: 0.3s;
}

.result-w:hover{
    transform: scale(1.05);
}

.like-w{
    max-width: 200px;
    position: relative;
}

.like{  
    position: absolute;
    z-index: 2;
    top: 14px;
    right: 14px;
}

.product-img-w {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

.product-info{
    position: relative;
    padding-top: 15px;
    z-index: 3;
    background-color: white;
}

.product-name {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.prices{
    margin-top: 6px;
}

.prev-price {
    color: rgba(0, 0, 0, 0.40);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: line-through;
}

.curr-price {
    color: #6D84FF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.review{
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.review-number {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.view-product-btn-w{
    width: 100%;
    height: 35px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    top: 265px;
    background: rgba(109, 132, 255, 0.71);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition-duration: 0.3s;
}

.view-product-btn{
    color: #FFF;
    text-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}